header {
    .top-nav {
        list-style-type: none;
        text-align: end;

        li {
            display: inline-block;
            font-size: 0.8rem;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    nav {

        li.nav-item {
            font-weight: 600;
    
            a {
                color: inherit;
    
                &.active {
                    position: relative;
                    color: $primary;
    
                    &::after {
                        content: "";
                        width: 70%;
                        height: 0.5rem;
                        background: $primary;
                        position: absolute;
                        bottom: -2.75rem;
                        left: 15%;
                        right: 15%;
                    }
                }
            }
        }
    
        form {
            position: relative;
    
            .form-control {
                border: none;
                border-bottom: 2px solid $primary;
                border-radius: 0;
                font-weight: bold;
                text-align: right;
                font-size: 1.2rem;
    
                &::placeholder {
                    color: inherit;
                }
            }
    
            .fa-magnifying-glass {
                position: absolute;
                top: 0.7rem;
                right: 0;
                font-size: 1.2rem;
            }
        }
    }

    .jumbotron {
        background-image: url("../../../public/img/jumbotron.jpg");
        background-position: top center;
        background-size: cover;
        height: 400px;
    }
}