@import "../variables";

header {
    li.nav-item {
        font-weight: 600;

        a {
            color: inherit;

            &.active {
                position: relative;
                color: $primary;

                &::after {
                    content: "";
                    width: 70%;
                    height: 0.5rem;
                    background: $primary;
                    position: absolute;
                    bottom: -2.75rem;
                    left: 15%;
                    right: 15%;
                }
            }
        }
    }

    .jumbotron {
        background-image: url("../../../public/img/jumbotron.jpg");
        background-position: top center;
        background-size: cover;
        height: 400px;
    }
}